<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GamingBot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GamingBot.My.MySettings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="SampleArcangrove" serializeAs="String">
                <value>commnt welcome to the Arcangrove bot!;
waitms 3000;
lclick 620 120;
waitms 500;
lclick 400 370;
waitms 1000;
lclick 100 165;
waitms 1000;
lclick 120 440;
waitms 1000;
lclick 325 100;
lclick 480 165;
waitms 1000;
lclick 940 320;
waitms 4000;

lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 405 330;
sndkey 1;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 2;
waitms 2000;
lclick 405 330;
sndkey 1;
sndkey 3;
waitms 8000;
lclick 540 470;
waitms 3000;
lclick 655 520;
waitms 24000;


lclick 30 330;
waitms 3000;

lclick 620 120;
waitms 500;
lclick 400 370;
waitms 1000;
lclick 100 165;
waitms 1000;
lclick 150 440;
waitms 1000;
lclick 325 100;
lclick 480 165;
</value>
            </setting>
        </GamingBot.My.MySettings>
    </userSettings>
</configuration>
